<div class="flex justify-center text-6xl">Rezultati iz natjecanja</div><br>
<div class="flex justify-center text-6xl">{{result.items.[0].natjecanje}}</div><br>
<div class="flex justify-center text-2xl">{{result.items.[0].apply_till}}</div><br>
<div class="overflow-x-auto flex justify-center">
    <table class="w-1/2">
        <!-- head -->
        <thead class="h-10">
            <tr>
                <th>Pozicija</th>
                <th>Ime Natjecatelja</th>
                <th>Broj bodova</th>
            </tr>
        </thead>
        <tbody class="[&>*:nth-child(3)]:border-black [&>*:nth-child(3)]:border-b-2 text-center">
            {{#each result.items}}
            <tr>
                <td x-data="{}">
                        <span x-text="{{@index}}+1"></span>
                    </td>
                <th>{{this.name}}</th>
                <td>{{this.bodovi}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>